$day-size: 100px;
$day-gap: 1px;
$day-bg: #eee;
$hover-bg: #ffbfcb;
$day-font-size: 30px;
$day-font-family: Arial, sans-serif;
$hover-shift: -20px;
$transition-time: 0.5s;
$calendar-padding: 10px;
$calendar-width: (7 * $day-size) + (6 * $day-gap) + (2 * $calendar-padding);
$base-margin: $day-size + $day-gap;
$start-day: (
  'mon': 0,
  'tue': $base-margin,
  'wed': 2 * $base-margin,
  'thu': 3 * $base-margin,
  'fri': 4 * $base-margin,
  'sat': 5 * $base-margin,
  'sun': 6 * $base-margin,
);
